h3 {
  color: rgb(17, 17, 17);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
 margin: 18px 0 40px 18px;
}
span{
    color: rgb(17, 17, 17);
font-family: Poppins;
font-size: 16px;
font-weight: 700;
line-height: 28px;
margin: 0 18px;
}
.products {
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
}
.productss {
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
}
.card {
width: 302px;
height: 458.5px;
border-radius: 4px;
box-shadow: 0px 0px 11.83px 1.17px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);

&:hover{
  box-shadow: 0px 0px 11.83px 1.17px rgba(218, 70, 70, 0.06);
}


}


