font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-ExtraBold.eot');
    src: url('../assets/fonts/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Poppins-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/Poppins-ExtraBold.woff') format('woff'),
        url('../assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-SemiBold.eot');
    src: url('../assets/fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/Poppins-SemiBold.woff') format('woff'),
        url('../assets/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Black.eot');
    src: url('../assets/fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Poppins-Black.woff2') format('woff2'),
        url('../assets/fonts/Poppins-Black.woff') format('woff'),
        url('../assets/fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.eot');
    src: url('../assets/fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Poppins-Regular.woff2') format('woff2'),
        url('../assets/fonts/Poppins-Regular.woff') format('woff'),
        url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Medium.eot');
    src: url('../assets/fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Poppins-Medium.woff2') format('woff2'),
        url('../assets/fonts/Poppins-Medium.woff') format('woff'),
        url('../assets/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Bold.eot');
    src: url('../assets/fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Poppins-Bold.woff2') format('woff2'),
        url('../assets/fonts/Poppins-Bold.woff') format('woff'),
        url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Light.eot');
    src: url('../assets/fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Poppins-Light.woff2') format('woff2'),
        url('../assets/fonts/Poppins-Light.woff') format('woff'),
        url('../assets/fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Thin.eot');
    src: url('../assets/fonts/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Poppins-Thin.woff2') format('woff2'),
        url('../assets/fonts/Poppins-Thin.woff') format('woff'),
        url('../assets/fonts/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-ExtraLight.eot');
    src: url('../assets/fonts/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Poppins-ExtraLight.woff2') format('woff2'),
        url('../assets/fonts/Poppins-ExtraLight.woff') format('woff'),
        url('../assets/fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-ExtraBold.eot');
    src: url('../assets/fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Raleway-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/Raleway-ExtraBold.woff') format('woff'),
        url('../assets/fonts/Raleway-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Bold.eot');
    src: url('../assets/fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Raleway-Bold.woff2') format('woff2'),
        url('../assets/fonts/Raleway-Bold.woff') format('woff'),
        url('../assets/fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Light.eot');
    src: url('../assets/fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Raleway-Light.woff2') format('woff2'),
        url('../assets/fonts/Raleway-Light.woff') format('woff'),
        url('../assets/fonts/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Thin.eot');
    src: url('../assets/fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Raleway-Thin.woff2') format('woff2'),
        url('../assets/fonts/Raleway-Thin.woff') format('woff'),
        url('../assets/fonts/Raleway-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Medium.eot');
    src: url('../assets/fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Raleway-Medium.woff2') format('woff2'),
        url('../assets/fonts/Raleway-Medium.woff') format('woff'),
        url('../assets/fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Black.eot');
    src: url('../assets/fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Raleway-Black.woff2') format('woff2'),
        url('../assets/fonts/Raleway-Black.woff') format('woff'),
        url('../assets/fonts/Raleway-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-ExtraLight.eot');
    src: url('../assets/fonts/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Raleway-ExtraLight.woff2') format('woff2'),
        url('../assets/fonts/Raleway-ExtraLight.woff') format('woff'),
        url('../assets/fonts/Raleway-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Regular.eot');
    src: url('../assets/fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Raleway-Regular.woff2') format('woff2'),
        url('../assets/fonts/Raleway-Regular.woff') format('woff'),
        url('../assets/fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-SemiBold.eot');
    src: url('../assets/fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/Raleway-SemiBold.woff') format('woff'),
        url('../assets/fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
