* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppicon" sans-serif;
  font-family: "Raleway" sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.d__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d__flex2 {
  display: flex;
  align-items: center;
}

font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-ExtraBold.eot");
  src: url("../assets/fonts/Poppins-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Poppins-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Poppins-ExtraBold.woff") format("woff"), url("../assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-SemiBold.eot");
  src: url("../assets/fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Poppins-SemiBold.woff2") format("woff2"), url("../assets/fonts/Poppins-SemiBold.woff") format("woff"), url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Black.eot");
  src: url("../assets/fonts/Poppins-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Poppins-Black.woff2") format("woff2"), url("../assets/fonts/Poppins-Black.woff") format("woff"), url("../assets/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.eot");
  src: url("../assets/fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Poppins-Regular.woff2") format("woff2"), url("../assets/fonts/Poppins-Regular.woff") format("woff"), url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Medium.eot");
  src: url("../assets/fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Poppins-Medium.woff2") format("woff2"), url("../assets/fonts/Poppins-Medium.woff") format("woff"), url("../assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Bold.eot");
  src: url("../assets/fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Poppins-Bold.woff2") format("woff2"), url("../assets/fonts/Poppins-Bold.woff") format("woff"), url("../assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Light.eot");
  src: url("../assets/fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Poppins-Light.woff2") format("woff2"), url("../assets/fonts/Poppins-Light.woff") format("woff"), url("../assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Thin.eot");
  src: url("../assets/fonts/Poppins-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Poppins-Thin.woff2") format("woff2"), url("../assets/fonts/Poppins-Thin.woff") format("woff"), url("../assets/fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-ExtraLight.eot");
  src: url("../assets/fonts/Poppins-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Poppins-ExtraLight.woff2") format("woff2"), url("../assets/fonts/Poppins-ExtraLight.woff") format("woff"), url("../assets/fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-ExtraBold.eot");
  src: url("../assets/fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Raleway-ExtraBold.woff") format("woff"), url("../assets/fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Bold.eot");
  src: url("../assets/fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Raleway-Bold.woff2") format("woff2"), url("../assets/fonts/Raleway-Bold.woff") format("woff"), url("../assets/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Light.eot");
  src: url("../assets/fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Raleway-Light.woff2") format("woff2"), url("../assets/fonts/Raleway-Light.woff") format("woff"), url("../assets/fonts/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Thin.eot");
  src: url("../assets/fonts/Raleway-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Raleway-Thin.woff2") format("woff2"), url("../assets/fonts/Raleway-Thin.woff") format("woff"), url("../assets/fonts/Raleway-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Medium.eot");
  src: url("../assets/fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Raleway-Medium.woff2") format("woff2"), url("../assets/fonts/Raleway-Medium.woff") format("woff"), url("../assets/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Black.eot");
  src: url("../assets/fonts/Raleway-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Raleway-Black.woff2") format("woff2"), url("../assets/fonts/Raleway-Black.woff") format("woff"), url("../assets/fonts/Raleway-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-ExtraLight.eot");
  src: url("../assets/fonts/Raleway-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Raleway-ExtraLight.woff2") format("woff2"), url("../assets/fonts/Raleway-ExtraLight.woff") format("woff"), url("../assets/fonts/Raleway-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Regular.eot");
  src: url("../assets/fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Raleway-Regular.woff2") format("woff2"), url("../assets/fonts/Raleway-Regular.woff") format("woff"), url("../assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-SemiBold.eot");
  src: url("../assets/fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Raleway-SemiBold.woff2") format("woff2"), url("../assets/fonts/Raleway-SemiBold.woff") format("woff"), url("../assets/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@media screen and (max-width: 1076px) {
  .header {
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    gap: 30px;
  }
  .products {
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
  }
  .card {
    flex-wrap: wrap;
    margin: 20px 50px;
    grid-template-columns: 1fr 1fr;
  }
  .productss {
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
  }
  .wrapper {
    width: 100%;
  }
  .main__img {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .main__img img {
    grid-template-columns: 1fr 1fr;
    margin: 20px 30px;
    align-items: center;
  }
  .footer__cards {
    margin: 20px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 678px) {
  .header {
    justify-content: start;
    flex-wrap: wrap;
    gap: 30px;
  }
  .products {
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
  }
  .card {
    flex-wrap: wrap;
    margin: 20px 50px;
    grid-template-columns: 1fr 1fr;
  }
  .productss {
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
  }
  .wrapper {
    width: 100%;
    height: 60%;
  }
  .footer__cards {
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    margin: 20px 50px;
  }
}
.footer_title {
  font-size: 12px;
}

@media screen and (max-width: 576px) {
  .header {
    flex-direction: column;
    gap: 20px;
    display: none;
  }
  .header__nav {
    flex-direction: column;
    gap: 20px;
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .main__title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .item {
    max-height: 400px;
  }
  .corusel__text {
    text-align: center;
    margin-left: 70px;
  }
  .btn {
    font-size: 12px;
    padding: 10px 20px;
  }
  .card {
    flex-wrap: wrap;
    margin: 20px 50px;
    grid-template-columns: 1fr 1fr;
  }
  .endInfo__text {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .footer .btn {
    width: 50%;
  }
  .footer .btn input {
    width: 50%;
  }
  .footer .btn button {
    width: 50%;
    border-radius: 10px;
    margin: 10px;
  }
}
@media screen and (max-width: 768px) and (max-width: 576px) {
  .item {
    max-height: 300px;
  }
  .main__title {
    padding: 30px 0;
  }
  .btn {
    font-size: 12px;
    padding: 6px 12px;
  }
  .endInfo__text {
    font-size: 12px;
    margin-bottom: 6px;
  }
  .card {
    flex-wrap: wrap;
    margin: 20px 50px;
    grid-template-columns: 1fr 1fr;
  }
  .products {
    width: 250px;
  }
  .productss img {
    height: 250px;
  }
}
@media screen and (max-width: 768px) and (max-width: 550px) {
  .footer__title {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: normal;
  }
  .footer__navigation {
    flex-wrap: wrap;
  }
  .footer__finsh {
    flex-wrap: wrap;
  }
  .item {
    max-height: 300px;
  }
  .main__title {
    padding: 30px 0;
  }
  .btn {
    font-size: 12px;
    padding: 6px 12px;
  }
  .endInfo__text {
    font-size: 12px;
    margin-bottom: 6px;
  }
  .product {
    width: 250px;
  }
  .product img {
    height: 250px;
  }
}
@media screen and (max-width: 768px) {
  .card {
    flex-wrap: wrap;
    margin: 20px 50px;
    grid-template-columns: 1fr 1fr;
  }
}
header {
  background: rgb(253, 251, 249);
}
header .header {
  background: #000;
}
header .header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}
header .header__top ul {
  gap: 25px;
}
header .header__icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .header__icon a {
  display: flex;
  gap: 15px;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
header .header__icon .phone {
  padding: 0 30px;
}
header .header__lan {
  gap: 30px;
  display: flex;
}
header .header__option {
  background: transparent;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
header .header__seorch {
  word-spacing: 28px;
  margin-right: 30px;
}
header .header__seorch a {
  margin-left: 20px;
}
header .header__seorch a li {
  list-style: none;
}
header .header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
header .header__logo ul {
  display: flex;
  align-items: center;
  gap: 35px;
}
header .header__logo ul a {
  color: rgb(17, 17, 17);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  transition: ease 1ms;
}
header .header__logo ul a:hover {
  color: rgb(90, 90, 201);
}
header .header__logo ul a:active {
  color: rgb(20, 20, 195);
}

.wrapper {
  width: 1520px;
  max-width: 100vw;
  height: 800px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.list {
  position: absolute;
  height: 100%;
  display: flex;
  width: -moz-max-content;
  width: max-content;
  transition: 1s;
}
.list img {
  max-width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
  outline: none;
}

.buttons {
  position: absolute;
  top: 38%;
  right: 8%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.buttons button {
  width: 50px;
  height: 50px;
  border-radius: 35px;
  background-color: rgba(195, 190, 190, 0.333);
  border: none;
}

.dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #000000;
  margin: 20px;
  border-radius: 20px;
  transition: 0.5s;
}
.dots .active {
  background-color: rgb(90, 90, 201);
}

.corusel__text {
  position: absolute;
  top: 30%;
  right: 88.5%;
}
.corusel__text p {
  color: rgb(17, 17, 17);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 34.3px;
}
.corusel__text h1 {
  color: rgb(17, 17, 17);
  font-family: Raleway;
  font-size: 50px;
  font-weight: 400;
  line-height: 62.5px;
}
.corusel__text button {
  width: 139.84px;
  height: 46px;
  border: 1px solid rgb(17, 17, 17);
  margin: 45px 0;
  color: rgb(17, 17, 17);
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}
.corusel__text button:active {
  background: rgb(90, 90, 201);
  color: #fff;
}

.main__div {
  margin: 208.5px 0 0 0;
}
.main__img {
  margin: 80px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__title h1 {
  color: rgb(17, 17, 17);
  font-family: Raleway;
  font-size: 30px;
  font-weight: 700;
  line-height: 37.5px;
  text-align: center;
  padding: 55px 0 0 0;
}
.main__title span {
  position: absolute;
  width: 60px;
  height: 2px;
  background: rgb(90, 90, 201);
  margin: 15px 0 0 610px;
}
.main__title p {
  color: rgb(86, 86, 86);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.01px;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 55px;
}
.main__title ul {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin: 0 0 55px 0;
}
.main__title ul a {
  color: rgb(17, 17, 17);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  padding: 10px 10px;
}
.main__title ul a:hover {
  color: rgb(90, 90, 201);
  text-decoration: underline;
}

.header__nav {
  position: sticky;
  top: 0px;
  z-index: 999;
}

.searchInput {
  display: flex;
  outline: none;
  gap: 20px;
  align-items: center;
  border-radius: 20px;
  background: transparent;
}
.searchInput:hover {
  width: 200px;
  border: 2px solid #000;
  margin-right: 40px;
}
.searchInput img {
  margin: 0 20px 0 5px;
}

.searchInput:hover input {
  width: 400px;
  border-radius: 20px;
  margin: 0 0 0 10px;
}

.searchInput input {
  width: 0;
  outline: none;
  border: none;
  background: transparent;
}

.footer__end {
  margin-top: 50px;
}
.footer__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__cardTitle {
  color: rgb(90, 90, 201);
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 21px;
  margin-top: 24px;
  margin-bottom: 14px;
}
.footer__cardSubtitle {
  color: rgb(17, 17, 17);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.footer__cardText {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 18px 0 65px 0;
}
.footer__cardText p {
  color: rgb(86, 86, 86);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.01px;
}
.footer__cardText span {
  color: rgb(90, 90, 201);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.01px;
  cursor: pointer;
}
.footer__logo {
  word-spacing: 140px;
  margin: 35px;
}
.footer__end {
  background: rgb(239, 239, 239);
}
.footer__endLogo p {
  color: rgb(86, 86, 86);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.01px;
  margin: 24px 0 38px 0;
}
.footer__navigation {
  display: flex;
  justify-content: space-between;
  padding: 80px 0 115px 0;
}
.footer__line {
  position: absolute;
  width: 60px;
  height: 2px;
  background: rgb(90, 90, 201);
  margin-left: -1px;
}
.footer__endInfo p {
  color: rgb(17, 17, 17);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600;
  line-height: 22.5px;
  margin: 0 0 20px 0;
}
.footer__endInfo ul {
  padding-top: 24px;
}
.footer__endInfo li {
  color: rgb(86, 86, 86);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.footer__endInfo .endInfo__text {
  color: rgb(86, 86, 86);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.01px;
  padding-top: 24px;
}
.footer .btn {
  width: 420px;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  display: flex;
}
.footer .btn input {
  width: 400px;
  height: 47px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  outline: none;
  background: rgb(255, 255, 255);
}
.footer .btn input::-moz-placeholder {
  color: rgb(86, 86, 86);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 10px;
}
.footer .btn input::placeholder {
  color: rgb(86, 86, 86);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 10px;
}
.footer .btn input:last-of-type {
  padding-left: 15px;
  color: rgb(86, 86, 86);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.footer .btn button {
  width: 95px;
  height: 47px;
  border-radius: 0px 30px 30px 0px;
  background: rgb(90, 90, 201);
  color: rgb(255, 255, 255);
  border: none;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 47px;
  text-align: center;
}
.footer__finsh {
  display: flex;
  justify-content: space-between;
  background-color: rgb(17, 17, 17);
  padding: 10px;
}
.footer__finsh p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.01px;
  color: rgb(255, 255, 255);
}
.footer__finsh p b {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.01px;
  color: rgb(90, 90, 201);
  padding: 5px;
}

h3 {
  color: rgb(17, 17, 17);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 18px 0 40px 18px;
}

span {
  color: rgb(17, 17, 17);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  margin: 0 18px;
}

.products {
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
}

.productss {
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  width: 302px;
  height: 458.5px;
  border-radius: 4px;
  box-shadow: 0px 0px 11.83px 1.17px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
}
.card:hover {
  box-shadow: 0px 0px 11.83px 1.17px rgba(218, 70, 70, 0.06);
}

.cart {
  background: rgb(253, 251, 249);
}
.cart div {
  text-align: center;
  padding: 100px 0;
}
.cart__line {
  position: absolute;
  width: 60px;
  height: 2px;
  background: rgb(90, 90, 201);
  margin-top: 15px;
  margin-left: -29.5px;
}
.cart ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}
.cart ul button {
  border: none;
  background: transparent;
  color: black;
}
.cart ul button:hover {
  color: rgb(90, 90, 201);
}
.cart ul li {
  color: rgb(17, 17, 17);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.cart ul li:hover {
  color: rgb(90, 90, 201);
}

.item__title h1 {
  color: rgb(17, 17, 17);
  font-family: Raleway;
  font-size: 30px;
  font-weight: 700;
  line-height: 37.5px;
  margin: 50px 0 30px 0;
}
.item hr {
  opacity: 0.3;
  margin: 5px;
}
.item__praduct {
  background: rgb(90, 90, 201);
  margin: 35px 0 10px 0;
}
.item__praduct ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.item__praduct ul li {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  padding: 10px 0;
}
.item__cart {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.item__cart p {
  color: rgb(33, 37, 41);
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 26.25px;
}
.item__cart .btn1 {
  border-radius: 6px;
  background: rgb(90, 90, 201);
  width: 57.3px;
  height: 22px;
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  border: none;
}
.item__cart .btn1:hover {
  background: rgb(104, 31, 172);
}
.item__cart .btn2 {
  width: 153.56px;
  height: 46px;
  border: 1px solid rgb(33, 37, 41);
  background: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}
.item__span {
  display: flex;
  align-items: center;
  border: 1px solid rgb(235, 235, 235);
  background: rgb(255, 255, 255);
  width: 80px;
  height: 54px;
}
.item__span #bir {
  margin: 20px 20px;
}
.item__span #ikki {
  width: 40px;
  height: 54px;
  border: 1px solid rgb(235, 235, 235);
  background: rgb(255, 255, 255);
}
.item__span .span__r {
  transform: rotate(90deg);
  cursor: pointer;
}
.item__span .span__r #one {
  padding-top: 5px;
}
.item__span .span__r #two {
  margin-left: 10px;
}

#btn1 {
  margin: 0 0 0 -35px;
}

.info__main h1 {
  color: rgb(17, 17, 17);
  font-family: Raleway;
  font-size: 30px;
  font-weight: 600;
  line-height: 37.5px;
  margin: 30px 0 20px 0;
}
.info__main h2 {
  color: rgb(17, 17, 17);
  font-family: Raleway;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  padding: 25px 0 10px 0;
}
.info__main button {
  width: 156.72px;
  height: 46px;
  border: none;
  background: rgb(90, 90, 201);
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}
.info__main button:hover {
  background: rgb(104, 31, 172);
}
.info__main #main {
  width: 361px;
  height: 45px;
  border: 1px solid rgb(206, 212, 218);
  background: rgb(255, 255, 255);
  outline: none;
  margin: 10px 10px 20px 0;
}
.info__main #main::-moz-placeholder {
  color: rgb(86, 86, 86);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 0 10px;
}
.info__main #main::placeholder {
  color: rgb(86, 86, 86);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 0 10px;
}
.info__main #main:optional {
  color: rgb(86, 86, 86);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 0 10px;
}

.main1 .info__main2 {
  width: 526px;
  height: 218.5px;
  background: rgb(246, 246, 246);
  margin: 90px 12px 0 0;
}
.main1 .info__main2 .main2 {
  padding: 45px 50px;
}
.main1 .info__main2 h1 {
  color: rgb(17, 17, 17);
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 26.25px;
}
.main1 .info__main2 h2 {
  color: rgb(90, 90, 201);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}
.main1 .info__main2 p {
  color: rgb(86, 86, 86);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.5px;
}
.main1 .info__main2__title2 {
  gap: 90px;
}
.main1 .info__main2 hr {
  margin: 20px 0;
}
.main1 button {
  width: 156.72px;
  height: 46px;
  border: 1px solid rgb(90, 90, 201);
  background: rgb(90, 90, 201);
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  margin: 20px 10px 60px 0;
}
.main1 button:hover {
  background: rgb(104, 31, 172);
}

.btn {
  width: 420px;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  display: flex;
}
.btn input {
  width: 400px;
  height: 47px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  outline: none;
  background: rgb(255, 255, 255);
}
.btn input::-moz-placeholder {
  color: rgb(86, 86, 86);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 10px;
}
.btn input::placeholder {
  color: rgb(86, 86, 86);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 10px;
}
.btn input:last-of-type {
  padding-left: 15px;
  color: rgb(86, 86, 86);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.btn button {
  width: 95px;
  height: 47px;
  border-radius: 0px 30px 30px 0px;
  background: rgb(90, 90, 201);
  color: rgb(255, 255, 255);
  border: none;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 47px;
  text-align: center;
}
.btn button:hover {
  background: rgb(104, 31, 172);
}/*# sourceMappingURL=style.css.map */